* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-size: 2rem;
  text-align: center;
}

/* .cont-1 {
  justify-self: center;
  border: 10px solid black;
  border-radius: 0.5rem;
  width: 75%;
  text-align: center;
}

.flexcont1 {
  display: flex;
  padding: 10px;
  border: 2px solid red;
  border-radius: 0.5rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexcont1 div {
  display: flex;

  padding: 10px;
  align-items: center;
} */
.satan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.satanbut {
  color: red;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  transition: 0.25s ease;
}

.satanbut:hover {
  transform: scale(120%);
}

.satan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#satanresult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#moreSatan {
  color: white;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease;
  font-size: 1rem;
  margin: 20px;
}

#moreSatan2 {
  color: white;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease;
  font-size: 1rem;
  margin: 20px;
}

#moreSatan:hover {
  transform: scale(110%);
}

#moreSatan2:hover {
  transform: scale(110%);
}
#satan-input {
  
  border: 1px solid black;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}

#satanAns {
  text-align: center;
}
