* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: grid;
  place-items: center; */
  height: 100vh;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.satan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.satanbut {
  color: red;
  background: transparent;
  border: none;
  font-size: 2.5rem;
  transition: 0.25s ease;
  animation: pig 120s linear infinite;
  animation-delay: 5s;
}

.satanbut:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.satan-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#satanresult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#moreSatan {
  color: white;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease;
  font-size: 1rem;
  margin: 20px;
}

#moreSatan2 {
  color: white;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 10px;
  transition: 0.2s ease;
  font-size: 1rem;
  margin: 20px;
}

#moreSatan:hover {
  cursor: pointer;
  transform: scale(1.25);
}

#moreSatan2:hover {
  cursor: pointer;
  transform: scale(1.25);
}
#satan-input {
  border: 1px solid black;
  /* border-bottom: 3px solid black; */
  outline: none;
  border-radius: none;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
}

input::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
}

#satanAns {
  text-align: center;
}

img {
  animation: pig 30s linear infinite;
  position: absolute;
  top: 12rem;
  opacity: 40%;
}

@keyframes pig {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
