@media screen {
  body {
    background-image: url(./png/backg2.png);
  }
  .pic {
    align-items: flex-start;
  }

  .eyes {
    top: 38%;
    width: 25%;
    height: 5.5%;
  }
  .blank {
    top: 38%;
    width: 35%;
  }
}
