@media screen {
  body {
    background-image: url(./png/backg.png);
    background-repeat: no-repeat;
    align-items: flex-start;
  }

  .eyes {
    top: 33.5%;
    width: 26%;
    height: 5.5%;
  }
  .blank {
    top: 34%;
    width: 35%;
  }
}
