@media screen {
  body {
    background-image: url(./png/backg.png);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pic {
    height: 200px;
    width: 200px;
    position: absolute;
  }

  .eyediv {
    height: 200px;
    width: 200px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .eyes {
    top: 30.5%;
    width: 26%;
    height: 5.5%;
  }
  .blank {
    top: 31%;
    width: 35%;
  }
}
