* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url(./png/backg.png);
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.guy {
  width: 100%;
  height: 100%;
  scale: 100%;
  position: absolute;
  /* top: 15%; */
}

.eyes {
  position: absolute;
  top: 30.3%;
  right: 39.5%;
  z-index: -1;
  width: 25%;
  height: 5.2%;
  animation: eyes 4s ease alternate infinite;
  transform: rotate(2deg);
}

.blank {
  position: absolute;
  top: 30%;
  background-color: white;
  height: 10%;
  width: 25%;
  z-index: -2;
}

@keyframes eyes {
  0% {
    right: 39.5%;
  }
  20% {
    right: 39.5%;
  }
  /*  */
  80% {
    right: 35%;
  }
  100% {
    right: 35%;
  }
}
