* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* width: 100vw; */
  background-image: url(./png/backg.png);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 500px;
  position: absolute;
  /* overflow: hidden; */
}

.guy {
  width: 100%;
  height: 100%;
  position: absolute;
}

.eyediv {
  height: 500px;
  width: 500px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyes {
  position: absolute;
  /* padding-left: 1rem; */
  top: 30.6%;
  right: 39.5%;
  z-index: -1;
  width: 27%;
  height: 5.2%;
  background-color: white;
  animation: eyes 5s ease infinite;
  transform: rotate(2deg);
}

.blank {
  position: absolute;
  top: 30%;
  background-color: white;
  height: 10%;
  width: 35%;
  z-index: -2;
}

@keyframes eyes {
  0% {
    right: 40%;
  }
  20% {
    right: 40%;
  }
  70% {
    right: 32.5%;
  }
  75% {
    right: 36.5%;
  }
  90% {
    right: 36.5%;
  }
  100% {
    right: 39.5%;
  }
}
